.box404{ text-align:left !important;}
.titleforpage{font-size: 32px !important; font-weight: 700;}
.Oops{font-size: 18px; margin-bottom: 20px; margin-top: -12px;}
.box404 .btn-primary{padding: 8px 20px;}
.titleforpage{ margin-bottom: 25px;}
.box404 ul{margin-left: -11px;  margin-bottom: 20px;}